extends layout    

block content
    h1 #{title}

    form(method= 'POST', action='/articles/add')
        #form-group
        label Title:
        input.form-control(name= 'title', type='text')

        #form-group
        label Author:
        input.form-control(name= 'auhtor', type='text')

        #form-group
        label Body:
        input.form-control(name= 'title')

        input.btn.btn-priimary(type='submit', value='Submit')